.nav {
	position: absolute;
	top: 0;
	z-index: 99;
	left: 0;
	right: 0;
}
.uk-logo img {
	height: 58px;
}

.manifesto, manifesto h3 {
	font-size: 1.4rem;
	line-height: 2.4rem;
	color: #222 !important;
}

.manifesto h3 {
	font-weight: 500;
}

.manifesto p {
	margin: 0;
	padding: 0;
}

.manifesto p span {
	font-weight: 600;
}

p.break {
	margin-top: 2.0rem !important;
}

h2.headline {
	margin-top: 80px;
}

.dart-text {
	color: #222;
}

.tickets-button {
    background: #FFFF !important;
	color:#FF0E5A !important;
	font-weight: 500;
   }

.tickets-banner {
	background: #FF0E5A !important;
    color:#FFF !important;
}

.speaker-avatar {
    position: relative;
    &.mini-avatar {
      width: 48px;
      height: 48px;
      &>img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    &>img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

.speaker-list {
  .uk-card {
    border-radius: 2px;
    .uk-card-body {
      padding-bottom: 2em;
    }
    p.bio {
      text-align: justify !important;
      line-height: 160%;
    }
  }
}

.uk-badge {
  margin-top: -4px;
  padding: 4px 8px 2px 8px;
  margin-right: 0.5em;
}
