<!-- TOP -->
<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
    <!-- NAV -->
    <capi-20-nav-bar></capi-20-nav-bar>
    <!-- /NAV -->
</div>
<!-- BODY -->
<section class="uk-section uk-article">
    <div class="uk-container uk-container">
        <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">#CapiConf e coronavírus, o que você precisa saber?</h2>
        <div class="uk-margin-large-right uk-margin-medium-bottom">
            <p>Olá, organizamos nesta página todas as ações que nós da organização do evento estamos implementando em relação ao coronavírus! Se mesmo assim você tiver dúvidas envie um email para <a href="mailto:ping@capiconf.com" title="ping@capiconf.com">ping@capiconf.com</a>.
            </p>
            <p class="uk-article-meta">
                Atualizado em 26 de maio 2020
            </p>
        </div>
    </div>
    <div class="uk-container uk-container">
        <h3>A #CapiConf está adiada</h3>
        <p>
            Nós da organização do #CapiConf, sempre buscamos agir com total transparência e adotar uma postura cautelosa, preventiva e proativa em relação cenário do coronavírus no Paraná e no Brasil. Nas últimas três semanas temos acompanhamos o assunto de forma contínua e criteriosa para tomar decisões e antecipar ações.
        </p>
        <p>
            Diante disso, preocupados com a saúde e bem estar de todos, participantes, palestrantes, patrocinadores e staff e seguindo recomendações do Governo do Estado do Paraná, Ministério da Saúde e OMS, informamos que <b>vamos adiar a conferência</b>. Nosso objetivo com essa decisão é <b>proteger todas as pessoas envolvidas no evento.</b>
        </p>
        <h3>
            Você deve estar se perguntando: "E agora?".
        </h3>
        <p>
            Fique tranquilo e entenda o nosso plano:
        </p>
        <ul>
            <li>Adiar a realização da #CapiConf 2020;</li>
            <li>Até 01/08/2020 divulgaremos as novas informações sobre o evento;</li>
            <li>Entre os dias 11 e 16 de Maio, iremos realizar um evento online, para todos os inscritos com palestras e conteúdo especial para a comunidade.</li>
        </ul>

        <h3>Entenda nossa decisão</h3>
        <p>
            Os novos acontecimentos relacionados a pandemia de coronavírus pelo mundo e os esforços do Governo do Estado do Paraná e da Prefeitura de Curitiba, para conter a dispersão do vírus, fizeram com que o adiamento do evento se tornasse algo inevitável para a segurança de todos.
        </p>
        <p>
            <b>Não existe a possibilidade de realização do evento ao custo de colocarmos em risco a vida de outras pessoas.</b>
        </p>
        <p>
            Especialistas acreditam que os próximos 60 dias sejam de muita instabilidade e que a evolução do quadro da pandemia em todo território brasileiro seja agravado. Assim, sempre pensando em preservar todos os envolvidos e colaborar com os esforços de toda a sociedade para mitigar a transmissão do vírus, entendemos que adiar o evento é o melhor a ser feito. Neste momento estamos pausando todas as vendas e comunicações relacionadas ao evento, até que a nova data e local sejam anunciados.
        </p>
        <h3>Sobre as novas datas</h3>
        <p>
            Nossa previsão é que a #CapiConf aconteça em uma nova data a partir da primavera de 2020. Entenda que a #CapiConf se tornou algo grande e complexo, adiar uma conferência desse porte não é algo simples de ser executado, tendo em vista tudo que envolve sua organização e principalmente em relação ao seu local de realização. 
        </p>
        <p>
            Levando em conta esses desafios, nosso compromisso é divulgar esta nova data o quanto antes, porém sempre observando o cenário instável da pandemia e disponibilidade do local.
        </p>
        <p>
            Estabelecemos como data limite para esse anúncio 01/08/2020 e caso não seja possível a reorganização do evento até essa data, entraremos em contato com as devidas pessoas para realizarmos o reembolso de inscrições. 
        </p>
        <h3>Evento on-line?</h3>
        <p>
            Sim! Movimentar a comunidade é o que nos move, e em consideração a todos que se planejaram para dois dias de evento em 15 e 16 de Maio, iremos organizar palestras e painéis on-line. Nosso objetivo é ocupar a lacuna que a conferência vai deixar nestas datas. 
        </p>
        <p>
            Todos os inscritos receberão acesso a palestras exclusivas e a comunidade também terá acesso a palestras e ainda sortearemos brindes especiais durante esses dois dias.
        </p>
        <h3>E se esse cenário instável mudar?</h3>
        <p>
            Estamos acompanhando de perto e de forma transparente tomaremos as ações necessárias em relação a essas mudanças.
        </p>
        <p>
            Importante! Estamos notificando por e-mail todas as pessoas inscritas, bem como palestrantes, patrocinadores e fornecedores, no intuito de manter um alinhamento entre todas essas pessoas e também encontrarmos o melhor desfecho para cada situação específica. 
        </p>
        <p>
            Nós da organização agradecemos todas as mensagens de apoio que recebemos e estamos a disposição para responder dúvidas e esclarecimentos.
        </p>
        <h3>O que recomendamos como fonte de informação confiável sobre o coronavírus? </h3>
        <ul>
            <li>Página oficial do Ministério da Saúde. <a href="https://saude.gov.br/coronavirus" target="_blank">https://saude.gov.br/coronavirus</a></li>
            <li>Página oficial da Secretaria de Saúde do Paraná <a href="http://www.saude.pr.gov.br/" target="_blank">http://www.saude.pr.gov.br/</a></li>
            <li>Página oficial da Secretaria de Saúde de Curitiba <a target="_blank" href="http://www.saude.curitiba.pr.gov.br/">http://www.saude.curitiba.pr.gov.br/</a></li>
            <li>Página oficial da OMS sobre recomendações em relação ao coronavírus <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank">https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public</a></li>
            <li>Boletim atualizado sobre o coronavírus no Brasil <a href="https://www.saude.gov.br/boletins-epidemiologicos" target="_blank">https://www.saude.gov.br/boletins-epidemiologicos;</a></li>
            <li>Aplicativos oficiais do Ministério da Saúde para <a href="https://play.google.com/store/apps/details?id=br.gov.datasus.guardioes" target="_blank">Android</a> e <a href="https://apps.apple.com/br/app/coronav%C3%ADrus-sus/id1408008382" target="_blank">iOS</a>.</li>
        </ul>
        <h3>Tem alguma outra dúvida? Envie um email para <a href="mailto:ping@capiconf.com" title="ping@capiconf.com">ping@capiconf.com</a></h3>
    </div>
</section>
<!-- /BODY -->

<!-- FOOTER -->
<capi20-footer></capi20-footer>
<!-- /FOOTER -->
<!-- OFFCANVAS -->
<capi20-side-nav></capi20-side-nav>
<!-- /OFFCANVAS -->
<!-- /TOP -->
