
<!-- LOCATION -->
<section id="location" class="uk-section uk-section-default uk-padding-remove-bottom uk-section-secondary">
    <div class="uk-container  uk-text-center uk-section uk-padding-remove-top">
      <h1 class="uk-text-primary">LOCALIZAÇÃO ❤️</h1>
      <h3 class="uk-text-center uk-width-3-4 uk-margin-auto uk-margin-medium-bottom">
        O evento vai acontecer no <b>Auditório Desembargador Cordeiro Clève</b>, 
        <br />localizado na <b>UniBrasil Centro Universitário</b>.
      </h3>
      <p>Rua Konrad Adenauer, 442. Tarumã, Curitiba, Paraná, 82821-020</p>
    </div>
    <iframe width="100%" height="640px" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14413.45856173799!2d-49.214355!3d-25.42607!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce59b5e0b6d6d%3A0x6f318e991434a0d4!2sR.%20Konrad%20Adenauer%2C%20442%20-%20Tarum%C3%A3%2C%20Curitiba%20-%20PR%2C%2082821-020!5e0!3m2!1spt-BR!2sbr!4v1594690942856!5m2!1spt-BR!2sbr"
      allowfullscreen=""></iframe>
    <div class="uk-padding-large"></div>
  </section>
  <!-- /LOCATION -->